<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/roman/IdeaProjects/testng_framework">
        <classes>
            <class name="scripts._01_AppleTest">
                <methods>
                    <include name="testAppleTitle"/>
                    <include name="testAppleURL"/>
                </methods>
            </class>
            <class name="scripts._02_TechGlobalTest">
                <methods>
                    <include name="testApplicationFormHeading"/>
                </methods>
            </class>
            <class name="scripts._03_EtsyTest">
                <methods>
                    <include name="testEtsyLogo"/>
                    <include name="testEtsySearch"/>
                    <include name="testEtsySearchResult"/>
                    <include name="testMainHeader"/>
                </methods>
            </class>
            <class name="scripts._04_GoogleSearchTest">
                <methods>
                    <include name="testGoogleSearch"/>
                    <include name="testGoogleStoreLink"/>
                </methods>
            </class>
            <class name="scripts._05_CheckBoxTest">
                <methods>
                    <include name="testCheckBoxInHeroApp"/>
                </methods>
            </class>
            <class name="scripts._06_RadioButtonTest">
                <methods>
                    <include name="testFacebookGenderRadioButtons"/>
                </methods>
            </class>
            <class name="scripts._07_DropdownTest">
                <methods>
                    <include name="testUnsecurePasswordErrorMessage"/>
                    <include name="testExpediaDropdowns"/>
                    <include name="testEbayDropdown"/>
                </methods>
            </class>
            <class name="testng_learning._02_Priority_Keyword">
                <methods>
                    <include name="login"/>
                    <include name="test"/>
                    <include name="logout"/>
                </methods>
            </class>
            <class name="testng_learning._03_Soft_vs_Hard_Assertions">
                <methods>
                    <include name="method1"/>
                    <include name="method2"/>
                </methods>
            </class>
            <class name="testng_learning._04_Optional_Assertion_Error_Messages">
                <methods>
                    <include name="method1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>